@font-face {
  font-family: 'Goldplay';
  src: local('Goldplay_SemiBold'), url(./fonts/Goldplay_SemiBold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Goldplay';
  src: local('Goldplay_Regular'), url(./fonts/Goldplay_Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Goldplay';
  src: local('Goldplay_Bold'), url(./fonts/Goldplay_Bold.otf) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 500;
}

.logo {
  width: auto;
  height: 50px;
}

.nav-max {
  max-width: 1300px;
}

.post_content {
  margin: 32px 16px;
  max-width: 1300px;
  background-color: #f7f6f3;
  border-radius: 8px;
  padding:16px;
  width: 100vw;
}

div > .post_content {
  color: black;
}