body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171A31;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #171A31;
  margin: 0;
}

* {
  color: white;
  text-decoration: none !important;
  /* font-family: Goldplay, serif; */
  font-weight: 400;
}

.post-card {
  background-color: #EDCA4E;
  border-radius: 8px;
  width: 100%;
  margin: 8px;
}

h2, h3, h4 {
  font-weight: 600;
}

.thumbnail {
  width: 100%;
  max-width: 750px;
}

footer {
  margin-top: 32px;
}

h1, h2, h3, h4, h5 {
    font-family: Goldplay, serif;
}

p {
  font-family: Poppins, serif;
}

.thumbnail {
  max-width: 650px;
}

main {
  max-width: 1600px;
}

.button-link {
  background-color: white;
  color: black !important;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  width: 150px;
  padding: 10px;

}

a {
  color: black;
  font-family: Goldplay, serif;
  font-weight: 800;
}

.post-title {
  font-size: 50px;
  font-weight: 800;
}

.hero {
  width: 100vw;
  height: 700px;
  display: flex;
  background-image: url('./img/hero_background_2.svg');
  background-size: cover;
  z-index: -100;
  overflow: visible;
}

.about > h3, .about > p {
  color: #181b31;
}